<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{heading}}</h1>
    <p>Welcome to my library:
        <ul>
            {%for book in books %}
            <li>
                <i>{{book.title|upper}}</i>,
                {{book.author}}
                {% if book.recommendation %}
                    <b>!!!</b>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </p>
</body>
</html>